.movies{
    padding:30px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;
}

@media(max-width:1070px){
    .movies{
        grid-template-columns:1fr 1fr;
    }
}
@media(max-width:740px){
    .movies{
        grid-template-columns:1fr;
    }
}
@media(max-width:740px){
    .movies{
        grid-template-columns:1fr;
    }
}