body{
  background-color:#34495E;
  font-family: 'Red Hat Text', sans-serif;
}
*{
  margin:0;
  padding:0;
}
.no-results{
  text-align:center;
  margin-top:15px;
}

@media(max-width:859px){
  .movie-detail{
      position: relative;
  }
}